#root {
  
}

.movement-pattern-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  gap: 1rem;
}


.movement-pattern-dropdown {
  display: flex;
  flex-direction: column
}

