#root {
  
}
.container {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movement-pattern-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  gap: 1rem;
}


.movement-pattern-dropdown {
  display: flex;
  flex-direction: column
}

